$color1: #f9f9f9;
$color2: #ccc;
$color3: orange;
$color4: yellow;

$mainfont: 'Cabin', sans-serif;

@mixin insidepage {
    width: 90vw;
    margin: 2% auto;
    padding: 0 10px;
    background-color: rgba(255,255,255,.3);

    h1 {
        text-align: center;
        margin-bottom: 0;
        width: 100%;
    }
}

@import './home';
@import './auth';
@import './editor';
@import './videopage';
@import './admin';
@import './account';

body {
    padding: 0;
    margin: 0;
    overflow-x: hidden;
    font-family: $mainfont;
}

#mainContainer {
    width: 100vw;
    height: 100%;
    min-height: 100vh;
    background-image: url('/img/main_bg.jpg');
    background-size: cover;
    background-attachment: fixed;

    .nav-wrapper-one {
        padding-right: 5px;

        .brand-logo {
            margin-top: 7px;

            @media (max-width: 650px) {
                margin-top: 10px;
            }
            @media (max-width: 992px) {
                transform: none;
                left: 0;
            }

            img {
                height: 50px;
                width: auto;

                @media (max-width: 650px) {
                    height: 40px;
                }
            }
        }
    }
    .nav-wrapper-two {
        background-color: #f7f7f7;
        color: #222;

        .center {
            display: flex;
            justify-content: center;

            li {
                margin: auto 20px;
                a {
                    color: #222;
                }
            }
        }
    }

    #cta_container {
        margin-top: 70px;
        background-color: #f7f7f7;
        width: 100%;
        padding: 30px;
        display: flex;
        flex-flow: row wrap;
        justify-content: space-between;

        .cta-box {
            max-width: 350px;
            display: flex;
            flex-direction: column;
            align-items: center;

            img {
                width: 95%;
                height: auto;
                margin: 10px auto;
            }
        }
    }
}
